# HuggingFace
HF_DEMODAY_USERNAME=
HF_DEMODAY_REPO_URL=
HF_DEMODAY_SPACE_URL=

# MLflow
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=

# Neon
BACKEND_STORE_URI=
NEON_USERNAME=
NEON_PASSWORD=
NEON_HOST=

# AWS
ARTIFACT_STORE_URI=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# API RTE Eco2mix
RTE_SECRET_KEY=
