[Unit]
Description=FastAPI Consumption Prediction API
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker stop api-demo-day-app
ExecStartPre=-/usr/bin/docker rm api-demo-day-app
ExecStart=/usr/bin/docker run \
    --name api-demo-day-app \
    --env-file /home/ubuntu/.env \
    -p 8000:8000 \
    api-demo-day:latest

ExecStop=/usr/bin/docker stop api-demo-day-app

[Install]
WantedBy=multi-user.target
